<nav id="mainnav-container">
    <div id="mainnav">
        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <!--================================-->
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap text-center">
                            <% if current_user %>
                            <div class="pad-btm">
                                <img class="img-circle img-md" src="/assets/logo.png" alt="Profile Picture">
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                <span class="pull-right dropdown-toggle">
                                    <i class="dropdown-caret"></i>
                                </span>
                                <p class="mnp-name"><%= current_user.email %></p>
                                <span class="mnp-desc">  <%= link_to "Log out", destroy_user_session_path, method: :delete, style: "color:red !important;" %></span>
                            </a>
                            <% else %>
                            <li>
                              <%= link_to "Log in", new_user_session_path, style: "color:red !important;" %>
                              <%= link_to "Sign up", new_user_registration_path, style: "color:red !important;" %>
                            </li>
                            <% end %>
                        </div>
                        <li class="list-divider"></li>
                        <div id="profile-nav" class="collapse list-group bg-trans">
                            <a href="#" class="list-group-item">
                                <i class="demo-pli-male icon-lg icon-fw"></i> View Profile
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="demo-pli-information icon-lg icon-fw"></i> Help
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="demo-pli-unlock icon-lg icon-fw"></i> Logout
                            </a>
                        </div>
                    </div>
                    <ul id="mainnav-menu" class="list-group">
						        <!--Category name-->
	                  <li class="list-header">MENU</li>
						           <!--Menu list-->
						           <li><a href="#"><span class="menu-title"><h6>My page</h6></span></a></li>
                       <li><a href="#"><span class="menu-title"><h6>Wish List</h6></span></a></li>
                       <li><a href="#"><span class="menu-title"><h6>Line Item</h6></span></a></li>
                       <li><a href="#"><span class="menu-title"><h6>Ordered List</h6></span></a></li>
                       <hr>
							      <!--Category name-->
                    <li class="list-header">PRODUCT CATEGORY</li>
                        <!--Menu list-->
                        <li><a href="/items?category_id=1"><span class="menu-title"><h6>TOP</h6></span></a></li>
                        <li><a href="/items?category_id=2"><span class="menu-title"><h6>BOTTOM</h6></span></a></li>
                        <li><a href="/items?category_id=3"><span class="menu-title"><h6>OUTER</h6></span></a></li>
                        <li><a href="/items?category_id=4"><span class="menu-title"><h6>SHOES</h6></span></a></li>
                        <li><a href="/items?category_id=5"><span class="menu-title"><h6>BAG</h6></span></a></li>
                        <li><a href="/items?category_id=6"><span class="menu-title"><h6>ACCESSORY</h6></span></a></li>
                        <hr>
					          </ul>

                    <!--Shortcut buttons-->
                    <!--================================-->
                    <div id="mainnav-shortcut" class="hidden">
                        <ul class="list-unstyled shortcut-wrap">
                            <li class="col-xs-3" data-content="My Profile">
                                <a class="shortcut-grid" href="#">
                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                    <i class="demo-pli-male"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="col-xs-3" data-content="Messages">
                                <a class="shortcut-grid" href="#">
                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                    <i class="demo-pli-speech-bubble-3"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="col-xs-3" data-content="Activity">
                                <a class="shortcut-grid" href="#">
                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                    <i class="demo-pli-thunder"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="col-xs-3" data-content="Lock Screen">
                                <a class="shortcut-grid" href="#">
                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-purple">
                                    <i class="demo-pli-lock-2"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--================================-->
                    <!--End shortcut buttons-->
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>
